*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html
{
  font-size:100%;
}

body
{
  
  -webkit-font-smoothing:antialiased;

  font-size:18px;
  font-weight:400;
  line-height:1.4;
  text-rendering:optimizeLegibility;
}

.skill-set li:hover
{
  background:#3498db;
}

h1
{
  color:rgba(0,0,0,.75);
  font-family: 'Inspiration', cursive;
  margin: auto;
  padding: auto;

}

.wrapper
{
  height:100%;
}

.left
{
  background-color:rgba(0,0,0,.025);
  border-right:1px solid rgba(0,0,0,.05);
  float:right;
  height:100%;
  margin-left:-1px;
  min-width:256px;
  position:fixed;
  width:33.33%;
  
}

.right
{
  float:right;
  height:100%;
  position:relative;
  width:66.7%;
}


.NorellResume
{
  background:rgba(0,0,0,.001);
  bottom:0;
  height:290px;
  left:0;
  margin:auto;
  position:absolute;
  right:0;
  top:0;
  width:85%;
}

.me-img
{
  background:url(https://scontent-den4-1.xx.fbcdn.net/v/t1.18169-9/487536_10151427560234079_1130447966_n.jpg?_nc_cat=102&cb=99be929b-3346023f&ccb=1-7&_nc_sid=b9145c&_nc_ohc=lDfPaD538QsAX_DNEMx&_nc_ht=scontent-den4-1.xx&oh=00_AfCqyPJry1yvhuqJ9XQxBTQVdhUDE8IYdIpzQMbph7G2KA&oe=64FD15D7) no-repeat center center ;
  background-size:100%;
  background-position:0px;
  border-radius:100%;
  height:150px;
  margin:0 auto;
  position:relative;
  width:150px;
}

.NorellResume h1
{
font-family: 'Inspiration', cursive;
  font-size:3.45em;
  text-align:center;
}

.NorellResume h1 em
{
  color:rgba(0,0,0,.3);
  font-style:normal;
  font-weight:700;
}

.NorellResume p
{
  color:rgba(0,0,0,.75);
  font-size:.75em;
  line-height:1.5;
  margin:0 8px 0 0;
  text-align:center;
  font-family: Karma, serif;
}

.NorellResume .name-text
{
  margin:0 auto;
  width:85%;
}

.inner
{
  margin:0 auto;
  max-width:975px;
  padding:3em;
}

.inner h1
{
  font-size:4em;
}

.inner p
{
  color:rgba(0,0,0,.5);
  font-family: Karma, serif;
}

.inner p em
{
  color:rgba(0,0,0,1);
  font-style:normal;
  font-family: Karma, serif;
}

.inner section
{
  margin:100px auto;
}

ul.resume
{
  list-style-type:none;
  margin-top:-10px;
  max-width:570px;
  padding:0;
}


.skill-set li
{
  background:indigo;
  border-radius:5px;
  color:#FFF;
  display:inline-block;
  list-style:none;
  margin:15px 15px 0 0;
  padding:10px;
  text-align:justify;
  opacity: 70%;
  font-family: 'Press Start 2P', cursive;
  font-size: .777em;
}

footer {
font-family: 'Notable', sans-serif;
position: absolute;
margin: auto;

}




@media screen and (max-width: 48em) {
  .right,.left
  {
    float:none;
    position:relative !important;
    width:100%;
    min-height:500px;
  }
  .handmade {
  text-align:center !important;
  margin-top:0px !important;
}

@media screen and (max-width: 75em) {
    body
{ font-size:16px;}
}

@media screen and (max-width: 60em) {
    body
{ font-size:14px;}
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.handmade {
  text-align:right;
  margin-top:100px;
}
.handmade em {
  font-family: 'Galindo', sans-serif;
  font-size: 1.25em;
  margin-left:5px;
}



